body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: gray;
}
